{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Edit Post</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.body.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body() }}
            {% for error in form.body.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.tags.label}}<br>
            {{ form.tags(size=32)}}</p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
</div>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body')}}
{% endblock %}