{% extends 'base.html' %}

{% block content%}

{% for post in posts%}

<div class="post">
    {% include '_post.html' %}
    {% set snippet = post.body[0:500] %}
    {% if post.body | length > 500 %}
    {% set snippet = snippet + '...' %}
    <p class="snippet">{{ snippet|safe }}</p>
    <p><a href="{{url_for('main.view', slug = post.slug)}}">Continue reading post</a></p>
    {% else %}
    <p class="snippet">{{ snippet|safe }}</p>
    {% endif %}
</div>

{% endfor %}

{% if prev_url %}
<a href="{{ prev_url }}"> Newer Posts</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older Posts</a>
{% endif %}

{% endblock %}